---
import Base from '../layouts/Base.astro'
---

<Base>
	<h2>About bricks</h2>
	<p>
		Lorem ipsum dolor sit amet consectetur, adipisicing elit. Exercitationem molestiae voluptatibus sit velit! Placeat, fugit officia vitae, sequi, deserunt cupiditate nulla ex nihil iste impedit 
		qui praesentium reiciendis architecto repellendus.
	</p>
</Base>